//IT SHOULD BE ...
//@import '_colors';
@import '../../assets/styles/colors';

//IT DOES NOT EXIST
.card-item-basic {
  cursor: default;
  display: flex;
  flex-flow: column wrap;
  flex: 0 1 30vh;
}

:host {

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2px;
  height: 100vh;

  // SYNTACTIC SUGAR
  .card {

    &__header {
      background: white;
      padding: 5%;
      @extend .card-item-basic;
    }

    &__body {
      background: $cyan;
      padding: 5%;
      @extend .card-item-basic;
    }

    &__footer {
      background: $cyan2;
      padding: 5%;
      @extend .card-item-basic;
    }

    &__title {
      font-size: xx-large;

      &--light {        
        color: $cyan;
      }

      &--dark {
        color: white;
      }

      &--spacer-bt-lines {
        line-height: 1.8;
      }
    }

    &__subtitle {
      font-size: x-large;
      color: $brigth_yellow;
    }

    &__text {
      font-size: medium;

      &--price-amount {
        font-size: xx-large;
        font-weight: 700;
      }

      &--price-desc {
        // There is no light font
        font-weight: 200;
        opacity: .4;
      }

      &--light {        
        color: $grayish_blue;
      }

      &--dark {
        color: $light_gray;
      }

    }

    &__list {
      list-style-type: none;
      color: $light_gray;
      font-weight: 200;

      &__item {
        margin: 2%
      } 
    }
  }
}


