// Primary

$cyan: hsl(179, 62%, 43%);
// Change Saturation & Light to cyan
$cyan2: hsl(179, 52%, 53%);
$brigth_yellow: hsl(71, 73%, 54%);

// Neutral

$light_gray: hsl(204, 43%, 93%);
$grayish_blue: hsl(218, 22%, 67%);

$box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);